*{
    margin: 0;
}

.section{
    background-image: url(bg_header\ \(1\).jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    }
.logoheader{
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;    }
.logo{
   
    position: absolute;
    left: 40%;
    bottom: 40%; 
}

.Nav{
    background-color: #FEC88A;
    height: 80px;
    text-align: center;
    
    
    
}
Main{
    background-color: #3C3C3C;
    height: 6000px;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.div1{
    display: flex;
    justify-content: space-between;
}
.soupe{
    background-image: url(soupe.jpg);
    background-size: cover;
    height: 350px;
    width: 400px;
    position: relative;

}
.salade{
    background-image: url(salade.jpg);
    background-size: cover;
    height: 350px;
    width: 400px;
    position: relative;
}
.dessert{
    background-image: url(dessert.jpg);
    background-size: cover;
    height: 350px;
    width: 400px;
    position: relative;
}
.Soupe1{
    position: absolute;
    bottom: 42%;
    left: 10%;
    width: 325px;
    border-bottom: #FEC88A;
    border-top: #FEC88A;
    border-style: solid none;
    font-size: 225%;
    color: #FEC88A;
    display: flex;
    justify-content: center;

}
.Salade1{
    position: absolute;
    bottom: 43%;
    left: 12%;
    width: 325px;
    border-bottom: #FEC88A;
    border-top: #FEC88A;
    border-style: solid none;
    font-size: 225%;
    color: #FEC88A;
    display: flex;
    justify-content: center;
}
.Dessert1{
    position: absolute;
    bottom: 45%;
    left: 12%;
    width: 325px;
    border-bottom: #FEC88A;
    border-top: #FEC88A;
    border-style: solid none;
    font-size: 225%;
    color: #FEC88A;
    display: flex;
    justify-content: center;
}
.Titre1{
    border-bottom: #A03841;
    border-top: #A03841;
    border-style: solid none;
    color: #FEC88A;
    font-size: 225%;
    width: 867px;
    display: flex;
    justify-content: center;    
}

.Chicken{
    height: 800px;
    width: 867px;
    background-color: #C2C57E;
    position: relative;
}
.tacos{
    width: 867px;
    position: absolute;
}
.toque{
    position: relative;
    left: 44%;
    top: 34%;
    height: 100px;
    width: 100px;
}
.recette{
    position: relative;
    color: #A03841;
    left: 45%;
    top: 36%;
    font-size: 20px;
}
.chick{
    position: relative;
    left: 36%;
    top: 38%;
    font-size: 30px;
}
.JOHN{
    position: relative;
    left: 37%;
    top: 40%;
}
.Lorem{
    position: relative;
    left: 10%;
    top: 42%;
    text-align: center;
    width: 650px;
    font-size: 30px;
}
.Button1{
    position: relative;
    top: 46%;
    left: 40%;
    height: 50px;
    width: 180px;
    background-color: #A03841;
    color: white;
}
.Photo3{
    width: 350px;
    height: 400px;
    position: relative;
}
.JohnDoe{
    width: 400px;
    height: 400px;
    position: absolute;

}
.sujet{
    position: relative;
    left: 36%;
    top: 52%;
}
.textsujet{
    position: relative;
    text-align: center;
    text-wrap: wrap;
    left: 2%;
    top: 54%;
    font-size: 20px;
}
.fb{
    position: relative;
    height: 30px;
    width: 30px;
    left: 30%;
    top: 65%;
}
.pinterest{
    position: relative;
    height: 27px;
    width: 27px;
    top: 65%;
    left: 32%;
}

.Titre2{
    border-bottom: #A03841;
    border-top: #A03841;
    border-style: solid none;
    color: #FEC88A;
    font-size: 225%;
    width: 400px;
    display: flex;
    justify-content: center;    
}





